*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: bold 32px Verdana;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: hsl(150, 90%, 95%);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 7px hsl(250, 50%, 20%);
    border-radius: 30px;
    box-shadow: 8px 8px 20px hsl(200, 10%, 30%);
    padding: 40px;
    gap: 5px;
    width: 500px;
    height: 550px;
}

.column {
    display: flex;
    border: solid 3px hsl(150, 70%, 40%);
    border-radius: 10px;
    justify-content: space-between;
    gap: 8px;
    padding: 5px;
    height: 100%;
    
}

#screen {
    box-shadow: inset 3px 3px 8px hsl(200, 10%, 30%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 2px;
}

button {
    border: solid 2px hsl(350, 80%, 50%);
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 24px Verdana, Tahoma, san-serif;
    box-shadow: 4px 3px 8px hsl(250, 50%, 20%);
}

button:active {
    box-shadow: 3px 2px 3px hsl(250, 50%, 20%);
    background-color: hsl(350,20%, 90%);
}

button:hover {
    background-color: hsl(350,20%, 90%);
}

#big {
    width: 208%;
}